body {
   padding-top:70px;
   background-color: #dbdde0;
}
#bt_filter{
	margin-top: 15px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 12px;
}
#item1,#item2,#item3,#item4{
	background-color: white;
	margin :10px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	border-style: outset;
}
.headline{
	color: #ce4125;
}
.headline_link:hover{
	text-decoration: none;
}